<div class="header-container p-4">
    <nav class="bg-white shadow-md rounded-lg">
        <ul class="nav-list flex justify-around items-center font-bold text-gray-700">
            <div class="logo flex items-center">
               <a><img src="assets/bg.png" alt="Logo" width="50"/></a>
                <a routerLink="/" class="logoText">FLOW</a>
            </div>
            <li><a routerLink="/">Home</a></li>
            <li><a routerLink="/about">About</a></li>
            <li><a routerLink="/contact">Contact</a></li>
            <li><a routerLink="/services">Services</a></li>
            <li><a routerLink="/Interships">Interships</a></li>
        </ul>
    </nav>
</div>