
<div id="home" class="relative isolate overflow-hidden bg-gray-900 py-24 sm:py-32">
  <img src="assets/hero.avif" alt="LMS background" class="absolute inset-0 -z-10 size-full object-cover object-center blur-xs" />

  <div aria-hidden="true" class="absolute -top-52 left-1/2 -z-10 -translate-x-1/2 transform-gpu blur-3xl sm:-top-112 sm:ml-16 sm:translate-x-0">
    <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" 
         class="aspect-1097/845 w-274.25 bg-gradient-to-tr from-[#ff4694] to-[#776fff] opacity-20"></div>
  </div>

  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-5xl font-semibold tracking-tight text-white sm:text-7xl">Learn. Grow. Achieve.</h2>
      <p class="mt-8 text-lg font-medium text-gray-300 sm:text-xl/8">
        Our Learning Management System empowers students and educators with tools to connect, collaborate, and create meaningful learning experiences. 
        Whether you're learning a new skill or teaching one, we make education accessible and engaging.
      </p>
    </div>

    <div class="mx-auto mt-10 max-w-2xl lg:mx-0 lg:max-w-none">
      <div class="grid grid-cols-1 gap-x-8 gap-y-6 text-base font-semibold text-white sm:grid-cols-2 md:flex lg:gap-x-10">
        <a routerLink="/" fragment="interships" (click)="scrollToSection('interships')">
          Browse Courses <span aria-hidden="true">&rarr;</span>
        </a>

        <a routerLink="/" fragment="instructor" (click)="scrollToSection('instructor')">
          Become an Instructor <span aria-hidden="true">&rarr;</span>
        </a>

        <a routerLink="/" fragment="values" (click)="scrollToSection('values')">
          Our Learning Values <span aria-hidden="true">&rarr;</span>
        </a>
        <a routerLink="/" fragment="contact" (click)="scrollToSection('contact')">
          Meet the Team <span aria-hidden="true">&rarr;</span>
        </a>
      </div>

      <dl class="mt-16 grid grid-cols-1 gap-8 sm:mt-20 sm:grid-cols-2 lg:grid-cols-4">
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base text-gray-300">Active Students</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">15,000+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base text-gray-300">Expert Instructors</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">350+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base text-gray-300">Courses Available</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">1,200+</dd>
        </div>
        <div class="flex flex-col-reverse gap-1">
          <dt class="text-base text-gray-300">Certifications Earned</dt>
          <dd class="text-4xl font-semibold tracking-tight text-white">25,000+</dd>
        </div>
      </dl>
    </div>
    <div class="relative isolate overflow-hidden text-center text-white pt-15 ">
      Swipe to explore more
      <div class="flex items-center justify-center mt-4 animate-bounce">
        <i class="bi bi-arrow-down"></i>
    </div>
  </div>
</div>
</div>